/* Main CSS File - Journal Culturel v8 */
/* Import all component CSS files */

@import url('./components/_variables.css');
@import url('./components/_base.css');
@import url('./components/auth.css');
@import url('./components/loading.css');
@import url('./components/header.css');
@import url('./components/navigation.css');
@import url('./components/filters.css');
@import url('./components/grid.css');
@import url('./components/list.css');
@import url('./components/forms.css');
@import url('./components/detail.css');
@import url('./components/utilities.css');
@import url('./components/stats.css');
@import url('./components/social.css');
@import url('./components/groupes.css');
@import url('./components/alerts.css');
@import url('./components/contact.css');
@import url('./components/tags.css');
@import url('./components/import-export.css');
@import url('./components/pile.css');

/* Additional components will be added here as needed */